# Quartus generated
db/
incremental_db/
output_files/
*.rpt
*.chg
*.smsg
*.done
*.bak
*.qws
*.jdi
*.pof
*.sof
*.cdf
quartus/project/db/
quartus/project/incremental_db/
quartus/project/output_files/

# Questa/ModelSim generated
simulation/questa/
simulation/modelsim/
vsim.wlf
wlf*
transcript
*.wlf
*.qdb
*.qpg
*.qtl
*.vo
*.sft
msim_transcript
modelsim.ini
*.do.bak*
rtl_work/
work/
quartus/project/simulation/
quartus/project/simulation/**

#OS
.DS_Store
Thumbs.db


#diagrams.net/ draw.io temp + backup files
**/*.drawio.bkp
**/*.drawio~
**/*.drawio.dtmp
**/*.drawio.autosave
**/*.~lock.*